{erl_opts, [debug_info]}.
{deps,
 [{epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "3.4.0"}}},
  {jsone, {git, "git://github.com/sile/jsone.git", {tag, "1.4.5"}}},
  {ecgi, {git, "git://github.com/bhuztez/ecgi.git", {ref, "d0544e5171ffef1f6c20263abed51f8dd95ef56d"}}},
  {erlack, {git, "git://github.com/bhuztez/erlack.git", {ref, "a99cc1b9076e9f8f94d1e06dce68b6a4749ce93b"}}},
  {erlack_routing, {git, "git://github.com/bhuztez/erlack_routing.git", {ref, "5959609ed6576f81ee1254edf7eb27882612a8dd"}}},
  {erlack_db, {git, "git://github.com/bhuztez/erlack_db.git", {ref, "1fcb06ba66504a281a9f4cb9e4f4f30cffb741e6"}}}
 ]}.
