{erl_opts, [debug_info]}.
{deps,
 [{epgsql, {git, "git://github.com/epgsql/epgsql.git", {tag, "3.4.0"}}},
  {jsone, {git, "git://github.com/sile/jsone.git", {tag, "1.4.5"}}},
  {ecgi, {git, "git://github.com/bhuztez/ecgi.git", {ref, "4c2ea8c50d4d7bf2d3ce44d0f414f0a6d22c232c"}}},
  {erlack, {git, "git://github.com/bhuztez/erlack.git", {ref, "2f18b15a2d118b753936f3e5b41807acd592cec0"}}},
  {erlack_routing, {git, "git://github.com/bhuztez/erlack_routing.git", {ref, "2cb0a958ce9463d829170d9383790dfefc9f0ff8"}}},
  {erlack_db, {git, "git://github.com/bhuztez/erlack_db.git", {ref, "1fcb06ba66504a281a9f4cb9e4f4f30cffb741e6"}}}
 ]}.
